<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="openCustom(menutoggle)"> 
      <ion-icon name="menu"  *ngIf="width >500"></ion-icon>
      <ion-menu-button></ion-menu-button>   
    </ion-buttons>
    <!--<ion-title>about</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>   
     <ion-card-header>
       <ion-card-title>About FoodEngine</ion-card-title>
     <ion-card-subtitle>Complete Restaurant Solution</ion-card-subtitle>
     </ion-card-header>
   
     <ion-card-content>
       FoodEngine is a complete restaurant solution software crafted with careful considerations by a team with profound expertise in the food industry, offering a wide range of services. It is an end-to-end ERP software to cater to a variety of restaurants ranging from smaller kiosks to a larger chain of multiple outlets; puts your restaurant in the virtual world and keeps it open 24/7. It comprises a vast list of modules such as POS, Digital Menu, Recipe Management, Production Management, Central Kitchen/Store, Banquet/ODC, Inventory Management, and Call Center among others, that which form the fundamental tools for a successful restaurant business. FoodEngine provides a comprehensive and uncompromising solution to all the restaurant types while assuring them of results in the form of increased revenue, reduced costs, and enhanced operations. It is best-suited, tailor-made and promises phenomenal benefits while helping you elevate the customers' dining experience.
     </ion-card-content>
     <ion-item text-center>
      <ion-label>For Support Email : support@ciarss.com , Mobile : +91 8220111911</ion-label>
      
     </ion-item>
   </ion-card>
</ion-content>
